@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: hsl(210, 46%, 95%);
    display:grid;
    place-items:center;
}

.grid-container{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    justify-items: left;
    align-items: start;
    gap:30px; 
}

.grid-item{
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px hsl(0, 0%, 81%) ;
    display:grid;
    align-items: center;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 55px auto;
    grid-template-areas:
    "foto h4"
    "foto h6" 
    "h3 h3"
    "p p";

}

[class*="img-"]{
    border-radius: 100%;
    width: 35px;
    grid-area: foto;
}

[class*="name-"]{
    grid-area: h4;
    align-self: center;
    font-weight: 500;
    font-size: 15px;
}

[class*="verified-"]{
    grid-area: h6;
    align-self: center;
    font-weight: 500;
    font-size: 11px;
    opacity: 0.5;
}

[class*="recap-"]{
    grid-area: h3;
    font-weight: 600;
    font-size: 20px;
    margin:15px 0;

}
[class*="review-"]{
    grid-area: p;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}

#item1{
    position: relative;
    grid-area: daniel;
    
    background-color: hsl(263, 55%, 52%);
    
    color:white;
}

#item1 h3{
    z-index:3;
}
#img-fondo{
    position: absolute;
    top:0;
    right: 20%;
    z-index: 1;
}

.item2{
    grid-area: jonathan;
    background-color:hsl(217, 19%, 35%);
    color:white;
}

.item3{
    grid-area: jeanette;
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

.item4{
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
    color:white;
}

.item5{
    grid-area: kira;
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

.img-daniel{ border: 3px solid rgba(255, 255, 255,.5);}
.img-patrick{ border: 3px solid rgba(117, 65, 200,0.5);}
.name-jeanete{ align-self:end;}
.verified-jeanete{align-self:start; }
.name-kira{ align-self:end;}
.verified-kira{align-self:start; }

@media (max-width: 1214px) {
    body{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100vw;
        height: auto;
        display: flex; 
        justify-content: center; 
        align-content: center;    
    }
    .grid-container{
        display:flex;
       flex-direction: column;
        justify-items: left;
        align-items: start;  
    }
    .grid-item{ grid-area: none;}
   
    #img-fondo{
        right: 20px;
    }
}
